*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d1117;
    color:#7d8590 ;
}
 .nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #161b22;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
}
.user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 45px;
    cursor: pointer;
}
.search-bar {
    background: #08ddd2;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
  }
  .search-bar:hover .input {
    background: #08ddd2;
    width: 200px;
    color: #e6edf3;
  }
  .search-bar .input {
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
    background: #08ddd2;
    
  }
  
  .search-bar .input::placeholder {
    color: #e6edf3;

  }

  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .friends_post{
    margin: 10px 0;
    width: 50%;
    height: auto;
    background: #181818;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px #08ddd2a1;
    transform: translateX(1500px);
    transition: 0.5s ease-in-out;
}
.logo {
    color: #08ddd2;
    font-size: large;
    font-family: cursive;
}
.friends_post .friend_post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.friends_post .friend_post_top .img_and_name{
    display: flex;
    align-items: center;
}
.friends_post .friend_post_top .img_and_name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}
.friends_post .friend_post_top .img_and_name .friends_name .friends_name{
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.friends_post .friend_post_top .img_and_name .friends_name .friends_name:hover{
    text-decoration: underline;
}
.friends_post .friend_post_top .img_and_name .friends_name .time{
    font-size: 14px;
    color: #919191;
    margin: 3px 0;
}
.friends_post .friend_post_top .img_and_name .friends_name .time i{
    font-size: 10px;
    margin-left: 5px;
}
.friends_post .friend_post_top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.friends_post .friend_post_top .menu:hover{
    background: #efefef;
    cursor: pointer;
}
.friends_post .friend_post_top .menu i{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
}

.friends_post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.friends_post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.friends_post .info .emoji_img{
    display: flex;
}
 .friends_post .info .emoji_img img{
    width: 20px;
    height: 20px;
}

 .friends_post .info .emoji_img p{
    margin-left: 10px;
    font-size: 16px;
    color: #919191;
}

 .friends_post .info .comment{
    display: flex;
    align-items: center;
}
.friends_post .info .comment p{
    padding: 0 12px;
    font-size: 15px;
    color: #919191;
}

 .friends_post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

 .friends_post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .friends_post .like .like_icon{
    display: flex;
    align-items: center;
}

 .friends_post .like .like_icon i{
    font-size: 20px;
    margin-right: 8px;
    color: #919191;
}

.friends_post .like .like_icon i.activi{
    color: #45abff;
}
h2 {
    color: #08ddd2;
}
.fa-magnifying-glass {
    color: #7d8590;
}

.errorDiv{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.errorPara{
    background-color: #00deff;
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: #f31212;
    font-weight: 700;
}