#open-form,.Submit{
  background: #fff;
  height: 50px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
  color: #13396b;
  margin-top: 5px;
}
body {
  background-color: #0d1117;
  color: #e6edf3;
  font-family: Arial, sans-serif;
}

h1 {
  color: #7d8590;
  text-align: center;
}

.form-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 27, 34, 0.5);
}

.form-content {
  background-color: #161b22;
  color: #e6edf3;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #7d8590;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close {
  color: #7d8590;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #7d8590;
}

input[type=text],
input[type=email],
input[type=url],
textarea {
  padding: 10px 1rem;
  border: none;
  background-color: #010409;
  border-radius: 5px;
  width: 100%;
  color: white;
}
textarea {
  resize: none;
}
#open-form{
 position: absolute;
    top: 81px;
    left: 100px;
}
.home{
  position: fixed;
  right: 100px;
  bottom: 100px;
  animation-name: home;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
}
@keyframes home
{
  0% 
  {
     transform: translateY(0);
  }
  100% 
  {
    transform: translateY(-20px);
  }
}
.fa-hotel::before {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 45px;
  padding-top: 10px;
  color: #070b70;
  font-size: 27px;
  user-select: none;
  background-color: aliceblue;
  box-shadow: inset 0px -7px 8px 0px #000000, 0px 3px 8px 3px #8e8eff7d;
  z-index: 1;
  background: #cecefa;
  padding: 1rem;
  border-radius: 50%;
  color: blueviolet;
}